@{
    Layout = null;
}
@{ string kullaniciIsim = "", resimStr = ""; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CV Ready</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="icon" type="image/x-icon" href="~/startbootstrap-resume-gh-pages/assets/img/cv.png" />

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script>
        function confirmAction(event) {
            var userConfirmed = confirm("Bu işlemi onaylıyor musunuz?");
            if (!userConfirmed) {
                // Onaylanmadıysa, formun gönderilmesini engelle
                event.preventDefault();
            }
        }
    </script>
    <style>
        .navbar-scroll {
            position: fixed;
            height: 100vh; /* Sayfanın tamamını kaplasın */
            width: 250px;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <div class="navbar-scroll">
                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            @if (Session["Resim"] != null)
                            {
                                resimStr = Session["Resim"].ToString();
                            }
                            <img src="@resimStr" class="img-circle elevation-2" alt="Fotoğraf">
                        </div>
                        <div class="info">
                            @if (Session["Ad"] != null)
                            {
                                kullaniciIsim = Session["Ad"].ToString() + " " + Session["Soyad"].ToString();
                            }                            
                            else if (Session["KullaniciAdi"] != null)
                            {
                                kullaniciIsim = Session["KullaniciAdi"].ToString();
                            }
                            <a href="@Url.Action("Index", "Default", new { kullaniciAdi = Session["KullaniciAdi"] })" class="d-block">@kullaniciIsim</a>
                        </div>
                    </div>
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->
                            <li class="nav-item has-treeview">
                                <a href="@Url.Action("Index", "Hakkimda", new { kullaniciAdi = Session["KullaniciAdi"] })" class="nav-link">
                                    <!--alternatif olarak ViewData kullanılabilir.--> <!--<a href="Url.Action("Index", "Hakkimda", new { id = ViewData["id"] })"-->
                                    <i class="nav-icon fas fa-address-book"></i>
                                    <p>
                                        Hakkımda
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Egitim", new { kullaniciAdi = Session["KullaniciAdi"] })" class="nav-link">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>
                                        Eğitimlerim
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="@Url.Action("Index", "Deneyim", new { kullaniciAdi = Session["KullaniciAdi"] })" class="nav-link">
                                    <i class="nav-icon fas fa-check-circle"></i>
                                    <p>
                                        Deneyimlerim
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Yetenek", new { kullaniciAdi = Session["KullaniciAdi"] })" class="nav-link">
                                    <i class="nav-icon fas fa-star"></i>
                                    <p>
                                        Yeteneklerim
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Sertifika", new { kullaniciAdi = Session["KullaniciAdi"] })" class="nav-link">
                                    <i class="nav-icon fas fa-trophy"></i>
                                    <p>
                                        Sertifikalarım
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="@Url.Action("Index", "Hobi", new { kullaniciAdi = Session["KullaniciAdi"] })" class="nav-link">
                                    <i class="nav-icon fas fa-smile"></i>
                                    <p>
                                        Hobilerim
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Iletisim", new { kullaniciAdi = Session["KullaniciAdi"] })" class="nav-link">
                                    <i class="nav-icon fas fa-envelope"></i>
                                    <p>
                                        İletişim
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "SosyalMedya", new { kullaniciAdi = Session["KullaniciAdi"] })" class="nav-link">
                                    <i class="nav-icon fas fa-user-friends"></i>
                                    <p>
                                        Sosyal Medya
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Admin", new { kullaniciAdi = Session["KullaniciAdi"] })" class="nav-link">
                                    <i class="nav-icon fas fa-pen"></i>
                                    <p>
                                        Ayarlar
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Login/LogOut/" class="nav-link">
                                    <i class="nav-icon fas fa-sign"></i>
                                    <p>
                                        Çıkış
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </div>
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>